<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
        <body>
	    <div class="topnav">
  		<a class="active" href="#home">DALI ABOUL HOUSN</a>
  		<a href="#intro">Intro</a>
  		<a href="#today">The Present</a>
  		<a href="#old">The Past</a>
		<a href="#shift">The Inbetween</a>
	   </div>
	     
	     <div class="container">
    
    		{{ content }}
        
	     </div><!-- /.container -->
	  <script src="js/main.js"></script>
          </body>
</html>
