<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="css/bootstrap.css" media="screen"> 
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
        <body id="dali" data-spy="scroll" data-target=".navbar" data-offset="60">
	    <nav class="navbar navbar-default navbar-fixed-top">
		::before
		<div class="container">
			::before 
			<div class="navbar-header"> 
				::before
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
                                </button>
                <a class="navbar-brand" href=#myPage>DALI ABOUL HOUSN</a> == $0
    		<ul>
        		<li><a href="/">Intro</a></li>
	        	<li><a href="/sad">The Sad Stuff</a></li>
        		<li><a href="/happy">The Happy Stuff</a></li>
        		<li><a href="/conclusion">Today's Music</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
        
		</div><!-- /.container -->
          </body>
</html>
