<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Intro</a></li>
	        	<li><a href="/sad">The Sad Stuff</a></li>
        		<li><a href="/happy">The Happy Stuff</a></li>
        		<li><a href="/conclusion">Today's Music</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
        
		</div><!-- /.container -->
	</body>
</html>
